# Supabase Credentials for Ayusya Health Care Project
VITE_SUPABASE_URL=https://fiebppjbofrjkdizwrko.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpZWJwcGpib2ZyamtkaXp3cmtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxODk0MzcsImV4cCI6MjEwMjc2NTQzN30.61vsBsHddnyjnBQ8_MykNm7YwyiI9Zz78Yn-H8XDrNI